<div class="tracker" data-controller="tracker">
  <div class="tracker-visuals">
    <div class="clock-display">
      <div class="clock" data-target="tracker.clock"><%= Time.now.strftime('%H:%M') %></div>
    </div>
    <div class="actions">
      <div class="action-buttons-wrapper" data-action="click->tracker#newDay">
        <%= link_to 'NEW DAY', '#', class: 'new-day-button' %>
      </div>
    </div>
  </div>
  <%= render 'log_events/index', events: LogEvent.all %>
</div>
