<div class="tracker" data-controller="tracker">
  <div class="tracker-visuals">
    <div class="clock-display">
      <div class="clock" data-target="tracker.clock"><%= Time.now.strftime('%H:%M') %></div>
    </div>
    <div class="actions">
      <div class="action-buttons-wrapper">
        <%= link_to 'NEW DAY', '#', class: 'new-day-button', data: {action: 'click->tracker#newDay'} %>
      </div>
    </div>
  </div>
  <div id="work-sessions-log" class="work-sessions-log" data-controller="work_sessions">
    <%= render 'work_sessions/index', work_sessions: WorkSession.all
        .order(started_at: :desc)
        .includes(:day, :activities) %>
  </div>
</div>
