<div class="tracker" data-controller="tracker">
  <div class="tracker-visuals">
    <div class="clock-display">
      <div class="clock" data-target="tracker.clock"><%= local_time(Time.current, '%H:%M') %></div>
    </div>
    <div class="actions">
      <%= render 'controls/main', day: @day %>
    </div>
  </div>
  <div class="work-sessions-log" data-controller="work_sessions">
    <% if @day %>
      <%= render 'work_sessions/feed', work_sessions: @day.work_sessions.feed %>
    <% else %>
      <div id="work-sessions-list">No day today</div>

      <% if Day.any? %>
        Continue last day
      <% end %>
    <% end %>
  </div>
</div>
