<div class="tracker">
  <div class="tracker-visuals">
    <div class="timepiece-display">
      <div class="timepiece">13:24</div>
    </div>
    <div class="actions"></div>
  </div>
  <div class="tracker-log"></div>
</div>
