<ul class="work-sessions-list">
  <% current_day = nil %>
  <% work_sessions.each do |work_session| %>
    <% if current_day != work_session.day_id %>
      <li class="log-event list-group-item new-day">
        Hey hey gurl
      </li>
      <% current_day = work_session.day_id %>
    <% else %>
      <li class="log-event new-session"></li>
    <% end %>

    <% work_session.activities.each do |activity| %>
      <li class="log-event activity">
        <%= activity.description %>
      </li>
      <%= activity %>
    <% end %>
  <% end %>
</ul>
