.feed-event {
  @extend .list-group-item;
}

.new-day {
  background-color: $success;
  color: white;
  font-weight: bold;
  border-color: $success;
}

.break {
  color: white;
  background-color: $secondary;
  font-weight: bold;
  border-color: $secondary;
}

.end-day {
  color: white;
  background-color: $warning;
  font-weight: bold;
  border-color: $warning;
}
