.tracker {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 62.11% 37.89%;

  @media (orientation: portrait) {
    grid-template-columns: 100%;
  }

  .tracker-visuals {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 37.89% 62.11%;

    .timepiece-display {
      background: linear-gradient(0turn, lighten($secondary, 10%), $secondary);
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      justify-items: center;
      .timepiece {
        align-self: end;
        font-size: 134px;
        font-weight: bold;
        color: $black;
        text-shadow: 0 1px 3px rgba($black,.4);
      }
    }

    .actions {
      background: linear-gradient(0turn, lighten($primary, 10%), $primary);
    }
  }

  .tracker-log {
  }
}
